<div class="survey-frame">
    <div class="survey-modal">
        {{yield}}
        <div class="survey-budget-comparison">
            <div class="comparison-column">
                <h5>Budget Summary</h5>
                <h2>2500 sq.ft.</h2>
                <h5>X</h5>
                <h2>$1.35/sq.ft.</h2>
                <h5>=</h5>
                <h2>$1000/mo</h2>
            </div>
            <div class="selection-column"></div>
        </div>
    </div>
</div>
