.home-page {
  .header {

  }
  .banner-img {
    background: url(../img/DowntownBismarck2.jpg) no-repeat center;
    background-size: 100% auto;
    height: calc(100vh - 41px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $gray;
      opacity: 0.5;
      z-index: 10;
    }
    .headline {
      color: white;
      margin-top: 100px;
    }
    .inner {
      position: relative;
      z-index: 20;
    }
  }
  .footer {
    text-align: center;
    padding: 10px 0;
    background-color: #202020;
    color: white;
    position: relative;
    z-index: 20;
  }
}
