{{#survey-frame}}
    <div class="survey-nav">
        <div class="nav-section-wrapper">
            {{#link-to 'demographics' class="nav-section section-end"}}
                Demographics
            {{/link-to}}
            {{#link-to 'budget' class="nav-section"}}
                Budget
            {{/link-to}}
            {{#link-to 'location' class="nav-section"}}
                Location
            {{/link-to}}
            {{#link-to 'housing-type' class="nav-section section-end"}}
                Housing Type
            {{/link-to}}
        </div>
        <div class="nav-section-wrapper">
            {{#link-to 'housing-size' class="nav-section active"}}
                Unit Plan
            {{/link-to}}
            {{#link-to 'housing-quality' class="nav-section disabled"}}
                Quality
            {{/link-to}}
            {{#link-to 'amenities' class="nav-section disabled"}}
                Amenities
            {{/link-to}}
        </div>
    </div>
    <div class="survey-header">
        <h1>Unit Plans</h1>
        <p>Choose a unit plan below that would be similar to what you would be interested in</p>
    </div>
    <div class="survey-body">
        <div class="unit-size">
            <div class="unit-size-options-row">
                <div class="unit-size-sliders">
                    <h3>How many bedrooms?</h3>{{!-- TODO: Max of 3+ --}}
                    {{paper-slider class="flex" min=0 max=3}}
                    <h3>How many bathrooms?</h3>{{!-- TODO: Make this work in increments of 1/2, max at 2.5--}}
                    {{paper-slider class="flex" min=0 max=2.5}}
                </div>
                <div class="survey-hero-card">
                    <div class="survey-card-image">
                        <h4>Unit Type</h4>
                        <div class="hero-image"></div>
                        <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'housing-type'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'housing-quality'}}Continue{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
