{{#survey-frame}}
    <div class="survey-nav">
        {{#link-to 'demographics' class="nav-section section-end"}}
            Demographics
        {{/link-to}}
        {{#link-to 'budget' class="nav-section"}}
            Budget
        {{/link-to}}
        {{#link-to 'neighborhood' class="nav-section"}}
            Location
        {{/link-to}}
        {{#link-to 'housing-type' class="nav-section section-end active"}}
            Housing Type
        {{/link-to}}
        {{#link-to 'housing-size' class="nav-section disabled"}}
            Size
        {{/link-to}}
        {{#link-to 'housing-quality' class="nav-section disabled"}}
            Quality
        {{/link-to}}
        {{#link-to 'amenities' class="nav-section disabled"}}
            Amenities
        {{/link-to}}
    </div>
    <div class="survey-header">
        <h1>Housing Type</h1>
        <p>What type of home are you looking for?</p>
    </div>
    <div class="survey-body">
        <div class="housing-type">
            <div class="housing-type-family-toggle">
                <span>Single Family</span>
                {{#paper-switch class="paper-switch" value=booleanProp1 onChange=(action (mut booleanProp1))}}
                    Multi Family
                {{/paper-switch}}
            </div>
            <div class="housing-type-options-row">
                {{#if false}}
                    <div class="survey-hover-card">
                        <h4>Large Lot</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>Small Lot</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>Row Home</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>Twin Home / Duplex</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                {{else}}
                    <div class="survey-hover-card">
                        <h4>Accessory Dwelling Unit</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>Walk-up Flat</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>Mid-rise Flat</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                    <div class="survey-hover-card">
                        <h4>High-rise Flat</h4>
                        <div class="card-image"></div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'neighborhood'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'housing-size'}}Continue{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
