{{#survey-frame}}
    <div class="survey-nav">
        {{#link-to 'demographics' class="nav-section section-end"}}
            Demographics
        {{/link-to}}
        {{#link-to 'budget' class="nav-section"}}
            Budget
        {{/link-to}}
        {{#link-to 'location' class="nav-section active"}}
            Location
        {{/link-to}}
        {{#link-to 'housing-type' class="nav-section disabled section-end"}}
            Housing Type
        {{/link-to}}
        {{#link-to 'housing-size' class="nav-section disabled"}}
            Unit Plan
        {{/link-to}}
        {{#link-to 'housing-quality' class="nav-section disabled"}}
            Quality
        {{/link-to}}
        {{#link-to 'amenities' class="nav-section disabled"}}
            Amenities
        {{/link-to}}
    </div>
    <div class="survey-header">
        <h1>Location Preference</h1>
        <p>Where would you like to live?</p>
    </div>
    <div class="survey-body">
        <div class="location">
            <div class="location-age-toggle">
                <span>Existing</span>
                {{#paper-switch class="paper-switch" value=booleanProp1 onChange=(action (mut booleanProp1))}}
                    New Construction
                {{/paper-switch}}
            </div>
            <div class="location-options-row">
                <div class="survey-hero-card">
                    <div class="survey-hero-options-row">
                        <button class="survey-hero-option is-focused">
                            Option 1
                        </button>
                        <button class="survey-hero-option">
                            Option 2
                        </button>
                        <button class="survey-hero-option">
                            Option 3
                        </button>
                    </div>
                    <div class="survey-card-image">
                        <h4>Location 1</h4>
                        {{#paper-button raised=true mini=true class="hero-arrow back"}}
                            {{paper-icon "keyboard-arrow-left"}}
                        {{/paper-button}}
                        <div class="hero-image"></div>
                        {{#paper-button raised=true mini=true class="hero-arrow forward"}}
                            {{paper-icon "keyboard-arrow-right"}}
                        {{/paper-button}}
                        <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam laoreet imperdiet lectus sit amet gravida.
                            Pellentesque ac ligula ut tortor malesuada posuere nec non lectus.
                            Suspendisse scelerisque dui neque. Aliquam vel nisi sapien
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="survey-footer">
        {{#paper-button raised=true class='back-btn'}}
            {{#link-to 'demographics'}}Back{{/link-to}}
        {{/paper-button}}
        {{#paper-button raised=true primary=true class='next-btn'}}
            {{#link-to 'housing-type'}}Continue{{/link-to}}
        {{/paper-button}}
    </div>
{{/survey-frame}}
